services:
  - type: web
    name: ai-voice-moderator-backend
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: AWS_REGION
        sync: false
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: PORT
        value: 8080
      - key: NODE_ENV
        value: production
    plan: free
